@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

#output {
  padding: 20px;
  width: 100%;
  text-align: center;
}

#thread-image {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.ext-logo {
    font-size: 3.0em;
    color: rgb(34, 161, 221);
    padding: 0 10px;
}

.row h2 {
    font-family: 'Yantramanav';
    font-weight: 300;
}

.row h3 {
    font-family: 'Yantramanav';
    font-weight: 300;
}

.row p {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.3em;
}

a {
    color: rgb(34, 161, 221);
}

.aqueduct a:hover {
    text-decoration: none;
}

#header-container {
    padding: 28px 0;
    text-align: center;
    font-family: 'Yantramanav';
    font-weight: 300;
    font-size: 1.3em;
}

#header-container a {
    color: #666;
    padding: 0 20px;
}

#header-container a:hover {
    color: #444;
}

.center-image {
    display: block;
    margin: 0 auto;
}

.footer-emblem {
    width: 100px;
    height: 100px;
}

#footer-emblem-container {
    margin: 0 auto;
    width: 224px;
    padding-bottom: 60px;
    text-align: center;
}


#hero-image {
    width: 200px;
    height: 200px;
}

#hero-image-container {
    padding-top: 100px;
}

#hero-title-container {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: alma_monobold;
    color: rgb(34, 161, 221);
}

#hero-title-container h1 {
    font-size: 64px;
}

#hero-blurb-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.0em;
    font-weight: 100;
    color: #666;
    text-align: center;
    width: 520px;
    margin: 0 auto;
}

#hero-blurb-container h2 {
    font-weight: 100;
}

.cta {
    text-align: center;
    padding: 40px 0;
}

.cta-last {
  padding-bottom: 60px;
}

#hero-detail {
    text-align: center;
    background-color: rgb(34, 161, 221);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#hero-detail p {
    margin: 0 auto;
    padding: 10px 0;
}

#install {
    padding: 20px 0;
    color: rgb(34, 161, 221);
    text-align: center;
}

#terminal {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    font-size: 1.1em;
    background-color: #666;
    border-color: #666;
    color: white;
    line-height: 40px;
    font-family: 'Courier New';
    box-shadow: 0px 2px 2px #888888;
}

#install-command {
    padding: 20px 0;
}

#doc-callout {
    padding: 20px 0;
    text-align: center;
}

.class-name {
    color: rgb(34, 161, 221);
}

.token.function {
    color: rgb(34, 190, 140);
}

.token.string {
    color: rgb(120, 120, 120);
}

.token.metadata.symbol {
    color: rgb(34, 161, 221);
}

.feature-row {
    background-color: rgb(34, 161, 221);
    padding-top: 40px;
    color: white;
}

.final-feature-row {
    background-color: rgb(34, 161, 221);
    padding-top: 40px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.final-feature-row a {
    color: rgb(65, 64, 66);
}

.final-feature-row a:hover {
    color: rgb(130, 128, 132);
}

.feature-row a {
    color: rgb(255, 255, 255);
}

.feature-row a:hover {
    color: rgb(65, 64, 66);
}

.feature-row p {
    text-align: right;
    margin-top: 0px;
    width: 60%;
    margin-left: 40%;
}

.feature-row h2 {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 60%;
    margin-left: 40%;
}

.feature-box {
    max-width: 500px;
    background-color: rgb(245, 242, 240);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
}

.footer {
    text-align: center;
    background-color: rgb(65, 64, 66);
    padding-top: 30px;
    color: white;
}

#nl_signup {
    margin-top: 40px;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
    width: 100%;
}

#nl_signup form {
    text-align: center;
    padding: 10px 0;
}

#nl_signup label {
    display: block;
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 500;
    font-family: 'Yantramanav';
}

#nl_signup .privacy-policy {
    font-size: 13px;
    margin-top: 6px;
}

#nl_signup input.email {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
}

#nl_signup .clear {
    display: inline-block;
}

#nl_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

#footer-links {
    padding-top: 40px;
}

#footer-links a {
    color: white;
}

#copyright {
    margin-top: 30px;
}

.cta-button {
    border-radius: 5px;
    background-color: rgb(34, 161, 221);
    padding: 20px 60px;
    color: white;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.6em;
}

.cta-button:hover {
    background-color: rgb(32, 140, 200);
    color: white;
}


@media only screen and (max-width: 600px) {
    #hero-blurb-container {
       padding-left: 10px;
       padding-right: 10px;
       width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .feature-row p {
        text-align: center;
        padding-left: inherit;
        width: auto;
        margin-left: 0px;
    }

    .feature-row h2 {
        text-align: center;
        width: auto;
        margin-left: 0px;
    }

    .feature-box {
        max-width: none;
        height: auto;
    }

    #nl_signup input.email {
        width:100%;
        margin-bottom:5px;
    }

    #nl_signup .clear {
        display: block;
        width: 100%
    }

    #nl_signup .button {
        width: 100%;
        margin:0;
    }
}

@font-face {
    font-family: 'alma_monobold';
    src: url('../font/almamono-bold-webfont.woff2') format('woff2'),
         url('../font/almamono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.7.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('..//font/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('..//font/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('..//font/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('..//font/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
