p.p1_1 {margin: 0.0px 0.0px 0.0px 0.0px; color: #aaaaaa;}
p.p2_1 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd;}
p.p3_1 {margin: 0.0px 0.0px 0.0px 0.0px; color: #1f839b;}
p.p4_1 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd;}
p.p5_1 {margin: 0.0px 0.0px 0.0px 0.0px; color: #bb6f7b;}
p.p6_1 {margin: 0.0px 0.0px 0.0px 0.0px; color: #2bad97;}
p.p7_1 {margin: 0.0px 0.0px 0.0px 0.0px; color: #ddddee;}
span.s1_1 {color: #3fb9cd}
span.s2_1 {color: #dddddd}
span.s3_1 {color: #ddddee}
span.s4_1 {color: #bb6f7b}
span.s5_1 {color: #1f839b}
span.s6_1 {color: #2bad97}
span.s7_1 {color: #37819b}
span.s8_1 {color: #aaaaaa}
span.s9_1 {color: #5e989b}

p.p1_2 {margin: 0.0px 0.0px 0.0px 0.0px; color: #aaaaaa;}
p.p2_2 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd; min-height: 18.0px}
p.p3_2 {margin: 0.0px 0.0px 0.0px 0.0px; color: #1f839b;}
p.p4_2 {margin: 0.0px 0.0px 0.0px 0.0px; color: #bb6f7b;}
p.p5_2 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd;}
p.p6_2 {margin: 0.0px 0.0px 0.0px 0.0px; color: #3fb9cd;}
p.p7_2 {margin: 0.0px 0.0px 0.0px 0.0px; color: #2bad97;}
span.s1_2 {color: #3fb9cd}
span.s2_2 {color: #dddddd}
span.s3_2 {color: #bb6f7b}
span.s4_2 {color: #2bad97}
span.s5_2 {color: #aaaaaa}
span.s6_2 {color: #1f839b}
span.s7_2 {color: #ddddee}
span.s8_2 {color: #9b957c}
span.s9_2 {color: #37819b}

p.p1_3 {margin: 0.0px 0.0px 0.0px 0.0px; color: #aaaaaa;}
p.p2_3 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd; min-height: 18.0px}
p.p3_3 {margin: 0.0px 0.0px 0.0px 0.0px; color: #1f839b;}
p.p4_3 {margin: 0.0px 0.0px 0.0px 0.0px; color: #bb6f7b; }
p.p5_3 {margin: 0.0px 0.0px 0.0px 0.0px; color: #2bad97; }
p.p6_3 {margin: 0.0px 0.0px 0.0px 0.0px; color: #9b957c; }
p.p7_3 {margin: 0.0px 0.0px 0.0px 0.0px; color: #3fb9cd; }
p.p8_3 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd; }
span.s1_3 {color: #3fb9cd}
span.s2_3 {color: #dddddd}
span.s3_3 {color: #bb6f7b}
span.s4_3 {color: #1f839b}
span.s5_3 {color: #9b957c}
span.s6_3 {color: #2bad97}
span.s7_3 {color: #37819b}

p.p1_4 {margin: 0.0px 0.0px 0.0px 0.0px; color: #1f839b;}
p.p2_4 {margin: 0.0px 0.0px 0.0px 0.0px; color: #749b5a;}
p.p3_4 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd; min-height: 18.0px}
p.p4_4 {margin: 0.0px 0.0px 0.0px 0.0px; color: #9b957c; }
p.p5_4 {margin: 0.0px 0.0px 0.0px 0.0px; color: #aaaaaa; }
p.p6_4 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd; }
span.s1_4 {color: #3fb9cd}
span.s2_4 {color: #9b957c}
span.s3_4 {color: #dddddd}
span.s4_4 {color: #5e989b}
span.s5_4 {color: #aaaaaa}
span.s6_4 {color: #0bdd0f}
span.s7_4 {color: #2bad97}
span.s8_4 {color: #749b5a}
span.s9_4 {color: #ddddee}

p.p1_5 {margin: 0.0px 0.0px 0.0px 0.0px; color: #1f839b;}
p.p2_5 {margin: 0.0px 0.0px 0.0px 0.0px; color: #3fb9cd;}
p.p3_5 {margin: 0.0px 0.0px 0.0px 0.0px; color: #32988e;}
p.p4_5 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd;}
p.p5_5 {margin: 0.0px 0.0px 0.0px 0.0px; color: #5e989b;}
p.p6_5 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd; min-height: 18.0px}
p.p7_5 {margin: 0.0px 0.0px 0.0px 0.0px; color: #bb6f7b;}
p.p8_5 {margin: 0.0px 0.0px 0.0px 0.0px; color: #297e76;}
span.s1_5 {color: #3fb9cd}
span.s2_5 {color: #dddddd}
span.s3_5 {color: #1f839b}
span.s4_5 {color: #9b957c}
span.s5_5 {color: #37819b}
span.s6_5 {color: #2bad97}
span.s7_5 {color: #0bdd0f}
span.s8_5 {color: #bb6f7b}
span.s9_5 {color: #ddddee}
span.s1_50 {color: #297e76}

p.p1_6 {margin: 0.0px 0.0px 0.0px 0.0px; color: #aaaaaa; }
p.p2_6 {margin: 0.0px 0.0px 0.0px 0.0px; color: #9b957c; }
p.p3_6 {margin: 0.0px 0.0px 0.0px 0.0px; color: #2bad97; }
p.p4_6 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd; min-height: 18.0px}
p.p5_6 {margin: 0.0px 0.0px 0.0px 0.0px; color: #749b5a; }
p.p6_6 {margin: 0.0px 0.0px 0.0px 0.0px; color: #dddddd; }
p.p7_6 {margin: 0.0px 0.0px 0.0px 0.0px; color: #629b58; }
span.s1_6 {color: #749b5a}
span.s2_6 {color: #dddddd}
span.s3_6 {color: #3fb9cd}
span.s4_6 {color: #9b957c}
span.s5_6 {color: #aaaaaa}
span.s6_6 {color: #0bdd0f}
span.s7_6 {color: #629b58}
