language: dart
sudo: required
addons:
  postgresql: "9.4"
services:
  - postgresql
before_script:
  - psql -c 'create database dart_test;' -U postgres
  - psql -c 'create user dart with createdb;' -U postgres
  - psql -c "alter user dart with password 'dart';" -U postgres
  - psql -c 'grant all on database dart_test to dart;' -U postgres
  - pub get
script: ci/script.sh
after_success: ci/after_script.sh
branches:
  only:
    - master
    - 1.0