.buildlog
.pub/
build/
packages
.packages
*.dart.js
*.js_
*.js.deps
*.js.map
config.yaml
workspace.xml
Dart_Packages.xml
.DS_Store
.idea/dictionaries
migrations/migration.yaml
error.log
.aqueductpid
.aqueductsignal
api.log*