.md-header {
  background-color: rgb(33, 160, 221);
}

.md-nav--secondary {
  border-left: .4rem solid rgb(33, 160, 221);
}

body {
  color: rgb(100, 100, 100);
}

.md-typeset code {
  background-color: rgba(0, 0, 0, 0.0);
  border-right-width: 0px;
  border-left-width: 0px;
  box-shadow: none;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.0em;
  color: rgb(50, 50, 50);
}

a.md-nav__link {
  font-size: 1.1em;
  font-weight: lighter;
}

a.md-nav__link--active {
  font-size: 1.1em;
  font-weight: lighter;
  color: rgb(33, 160, 221);
}

.md-nav__item--nested>.md-nav__link {
  color: rgb(33, 160, 221);
  font-size: 1.1em;
  font-weight: bold;
}

label[for="toc"] {
  display: none;
}

.md-announce {
  --md-footer-bg-color: #ffffff;
  --md-footer-fg-color: rgb(33, 160, 221);
  --md-typeset-a-color: var(--md-footer-fg-color);

  --md-accent-fg-color: rgb(22, 105, 143); /* affects a:hover */
}

.md-announce a {
  text-decoration: underline;
}
